/**********************************/
/*********** Nav Bar CSS **********/
/**********************************/
.navbar {
    position: absolute;
    width: 100%;
    top: 45px;
    transition: 0.5s;
    z-index: 999;

    background: transparent !important;
    box-shadow: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.navbar.nav-sticky {
    position: fixed;
    top: 0;
    width: 100%;
    /* Keep your grey background */
    background: rgba(255, 255, 255, 1) !important;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.8);
    border-bottom: none;
    transition: 0.5s;
}

.navbar .navbar-brand {
    margin: 0;
    color: #ffffff;
    line-height: normal;
    font-weight: 700;
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar .navbar-brand img {
    max-width: 100%;
    max-height: 60px;
    height: auto;
}

/* 1. Changed Full Form Text to Light Blue */
.navbar .navbar-brand span {
    display: block;
    font-size: 12px;
    font-weight: 900;
    text-transform: capitalize;
    letter-spacing: 1.5px;
    color: #28a745; /* Light Sky Blue */
    margin-top: 5px;
    line-height: 1;
    text-align: center;
}

/* 2. Changed Menu Links to Light Blue */
.navbar-dark .navbar-nav .nav-link {
    color: #0065ff !important;
    font-weight: 500;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0);
}

/* 3. Changed Active/Hover state to Dark Royal Blue */
.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
    color: #28a745 !important; /* Darker Royal Blue */
    font-weight: 700; /* Makes it pop more when active */
}

@media (max-width: 991.98px) {
    .navbar {
        top: 0;
        background: #20212b !important;
        padding: 10px;
    }
}
